@model dynamic

<div class="container-fluid mb-3">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#header-carousel" data-slide-to="1"></li>
                    <li data-target="#header-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item position-relative active" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="~/online-shop-website-template/img/tedarik-zincirinde-alternatif-cozumler-h3883.webp" style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Tedarik Zinciri</h1>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Tedarik Zincirinde Alternatif Çözümler Sunuyoruz</p>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">İletişim</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item position-relative" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="~/online-shop-website-template/img/inventario.webp" style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Talep ve Stok</h1>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Talep Ettiğiniz Ürünler ve Güncel Stoklar İçin</p>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">İletişim</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item position-relative" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="~/online-shop-website-template/img/tedarik.jpg" style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Her yerden Her yere</h1>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Dünyanın Bir Ucundan Diğer Ucuna Kesintisiz Hizmet</p>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">İletişim</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="product-offer mb-30 d-none d-md-block" style="height: 200px;">
                <img class="img-fluid" src="~/online-shop-website-template/img/0_OJ6vQKNFEIkht3-9.jpg" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Kesintisiz Hizmet</h6>
                    <h3 class="text-white mb-3">Doğru Ürün</h3>
                    <a href="" class="btn btn-primary">İletişim</a>
                </div>
            </div>
            <div class="product-offer mb-30 d-none d-md-block" style="height: 200px;">
                <img class="img-fluid" src="~/online-shop-website-template/img/ozel-indirimler.jpeg" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">İndirim %10-20%</h6>
                    <h3 class="text-white mb-3">Özel Teklifler</h3>
                    <a href="" class="btn btn-primary">İletişim</a>
                </div>
            </div>
        </div>
    </div>
    
</div>





