@model dynamic

<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <h2 class="h3">Markalar</h2>
            <div class="w-50" style="position: relative; height:4px; margin-top: 20px; background-image: linear-gradient(to top, #cc1417, #f51900);"></div>
            <div class="owl-carousel vendor-carousel pt-3">
                <div class="bg-light p-4">
                    <img src="~/online-shop-website-template/img/vendor-1.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/online-shop-website-template/img/vendor-2.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/online-shop-website-template/img/vendor-3.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/online-shop-website-template/img/vendor-4.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/online-shop-website-template/img/vendor-5.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/online-shop-website-template/img/vendor-6.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/online-shop-website-template/img/vendor-7.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/online-shop-website-template/img/vendor-8.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>